div.st-emotion-cache-6qob1r.eczjsme3{
    background-color: rgb(115 10 10);
}

div.st-emotion-cache-13k62yr {
    position: absolute;
    background: rgb(195 195 195);
    color: rgb(17 12 20);
    inset: 0px;
    color-scheme: dark;
    overflow: hidden;
}

div.st-emotion-cache-k7vsyb.e1nzilvr2 h3 {
    color: rgb(115 10 10);

}
